<section class="container post">
    <div class="container">
        <h2 class="post__title">
            {{post?.title}} by username
        </h2>
        <p class="post__text">
            {{post?.text}}
        </p>
        <div class="post__links">
            <ul class="post__tags">
                <li class="post__tags-tag" *ngFor="let tag of post.tags">{{tag}}</li>
            </ul>
            <p class="post__date">{{post?.date | date}}</p>
            <a routerLink="/home" class="post__button">Go home</a>
            <a [routerLink]="'/edit/' + post.id" class="post__button">Edit</a>
        </div>
    </div>
</section>
<section class="container comments">
    <h2 class="comments__header">
        Comments
    </h2>
    <form action="" class="comments__form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <textarea type="text" class="comments__textarea" placeholder="Type your answer here" formControlName="commentText"></textarea>
        <button class="comments__button" type="submit">Submit</button>
    </form>
    <ul>
        <li class="comment" *ngFor="let comment of post.comments">
            <p class="comment__author">
                Username
            </p>
            <p class="comment__text">
                {{comment?.text}}
            </p>
            <small>{{comment?.date | date}}</small>
        </li>
    </ul>
</section>