

.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(42 208 245) 0 0 25px 0;
}

.form{
    padding-bottom: 20px;
    &__container{
        width: 100%;
        justify-content: space-between;
        font-size: 20px;
        margin-bottom: 20px;
    }
}