

.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(42 208 245) 0 0 25px 0;
}

.form{
    padding-bottom: 20px;
    &__container:hover{
        display: flex;
        width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
        transition: 0.5s;
    }

    &__input, &__textarea{
        justify-content: space-between;
        margin-left: 10px;
    }

    &__text{
        justify-content: center;
    }

}