<section class="main">
    <div class="main__container container">
        <h2 class="main__subtitle">Sign up</h2>
        <form class="main__form" [formGroup]="formValue" (ngSubmit)="ThenActive()">
            <div class="form__login">
                <label class="form__text" for="user">Email</label>
                <input type="text" class="form__input" id="user" formControlName="email">
            </div>

            <div class="form__error" *ngIf="IsItRight('email')">
                Email entered incorrectly.
            </div>

            <div class="form__login">
                <label class="form__text" for="password">Password</label>
                <input class="form__input" id="password" type="password" formControlName="password">
            </div>

            <div class="form__error" *ngIf="IsItRight('password')">
                Password must be 5-10 characters.
            </div>

            <div class="form__error" *ngIf="errorMessage">
                {{errorMessage}}
            </div>

            <div class="form__text">
                Also you can sign up by
            </div>

            <ul class="social-media">
                <li class="social-media__link">
                    <img src="../../../assets/img/Facebook_Logo.png" alt="By Facebook" class="social-media__pic"
                        (click)="facebookAuth()">
                </li>
                <li class="social-media__link">
                    <img src="../../../assets/img/github.png" alt="By GitHub" class="social-media__pic"
                        (click)="githubAuth()">
                </li>
                <li class="social-media__link">
                    <img src="../../../assets/img/Google__G__Logo.png" alt="By Google" class="social-media__pic"
                        (click)="googleAuth()">
                </li>
            </ul>

            <button class="form__button" type="submit" [disabled]="formValue.invalid || isButtonSubmitted">
                Sign up
            </button>
        </form>
    </div>
</section>