<section class="main__container container">
    <h2 class="main__subtitle">Login</h2>
    <form class="main__form" [formGroup]="form" (ngSubmit)="login()">
        <div class="form__login">
            <p class="form__text">Username</p>
            <input type="text" class="form__input" formControlName="email">
        </div>
        <div class="form__login">
            <p class="form__text">Password</p>
            <input type="text" class="form__input" formControlName="password">
        </div>

        <ul class="social-media">
            <li class="social-media__link">
                <img src="../../../assets/Facebook_Logo.png" alt="social media" class="social-media__pic">
            </li>
            <li class="social-media__link">
                <img src="../../../assets/Google__G__Logo.png" alt="social media" class="social-media__pic">
            </li>
            <li class="social-media__link">
                <img src="../../../assets/VK_logo_.png" alt="social media" class="social-media__pic">
            </li>
        </ul>
        <button class="form__button">Login</button>
    </form>
</section>
