<!-- <header class="header container header__container">
    <img class="header__logo" src="../../../assets/logo.png" alt="logo">
    <a href="#" class="header__login">login</a>
</header>
<main>
    <section class="auth">
        <div class="container auth__container">
            <form class="auth__form" action="#">
                <h2 class="auth__title">Sign Up</h2>
                <fieldset class="auth__fieldset">
                    <label class="auth__label" for="user">User</label>

                    <input class="auth__input" id="user" type="text">
                </fieldset>

                <fieldset class="auth__fieldset">
                    <label class="auth__label" for="password">Password</label>

                    <input class="auth__input" id="password" type="password">
                </fieldset>

                <ul class="auth__icons">
                    <li>
                        <a href="">

                        </a>
                    </li>
                    <a href="#">

                    </a>
                    <li>
                        <a href="#">

                        </a>
                    </li>

                    <li>

                    </li>
                </ul>

                <button class="auth__submit" type="submit">Sign Up</button>
            </form>
        </div>
    </section>
</main> -->

<header class="header">
    <section class="header__container container">
        <img src="../../../assets/logo.png" alt="Our logo" class="header__logo">
        <a href="#" class="header__anch header__button">Login</a>
    </section>
</header>
<main class="main">
    <section class="main__container container">
        <h2 class="main__subtitle">Sign up</h2>
        <form class="main__form">
            <div class="form__login">
                <p class="form__text">Username</p>
                <input type="text" class="form__input">
            </div>
            <div class="form__login">
                <p class="form__text">Password</p>
                <input type="text" class="form__input">
            </div>

            <ul class="social-media">
                <li class="social-media__link">
                    <img src="../../../assets/Facebook_Logo.png" alt="social media" class="social-media__pic">
                </li>
                <li class="social-media__link">
                    <img src="../../../assets/Google__G__Logo.png" alt="social media" class="social-media__pic">
                </li>
                <li class="social-media__link">
                    <img src="../../../assets/VK_logo_.png" alt="social media" class="social-media__pic">
                </li>
            </ul>
            <button class="form__button">Sign up</button>
        </form>
    </section>
    

</main>