<section class="home">
  <h3 class="home__title">Home page</h3>
  <a routerLink="/question-page"><img src="../../../assets/img/ikonka-plyus-10.png" alt="Add post" class="home__img"></a>
  <ul class="questlist">
    <li *ngFor="let post of posts">
      <div class="questlist__questcard">
        <h2 class="questlist__questcard-title">
          {{post.title}}
        </h2>
        <div class="questlist__questcard-info">
          <p class="questlist__questcard-time">{{post.date | date}}</p>
          <ul class="questlist__questcard-taglist">
            <li class="questlist__questcard-tag" *ngFor="let tag of post.tags">
              <small>
                {{tag}}
              </small>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</section>