<section class="home">
  <h3 class="home__title">Home page</h3>
  <a routerLink="/question-page"><img src="../../../assets/img/ikonka-plyus-10.png" alt="Add post" class="home__img"></a>
  <ul class="questlist">
    <li>
      <div class="questlist__questcard">
        <p class="questlist__questcard-title">
          some interesting texttitle
        </p>
        <div class="questlist__questcard-info">
          <p class="questlist__questcard-time">hh:mm am, 10.24.22</p>
          <ul class="questlist__questcard-taglist">
            <li class="questlist__questcard-tag">tag</li>
            <li class="questlist__questcard-tag">tag</li>
            <li class="questlist__questcard-tag">tag</li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="questlist__questcard">
        <p class="questlist__questcard-title">
          some interesting texttitle
        </p>
        <div class="questlist__questcard-info">
          <p class="questlist__questcard-time">hh:mm am, 10.24.22</p> 
        </div>
      </div>
    </li>
    <li>
      <div class="questlist__questcard">
        <p class="questlist__questcard-title">
          some interesting texttitle
        </p>
        <div class="questlist__questcard-info">
          <p class="questlist__questcard-time">hh:mm am, 10.24.22</p>
        </div>
      </div>
    </li>
    <li>
      <div class="questlist__questcard">
        <p class="questlist__questcard-title">
          some interesting texttitle
        </p>
        <div class="questlist__questcard-info">
          <p class="questlist__questcard-time">hh:mm am, 10.24.22</p>
        </div>
      </div>
    </li>
    <li>
      <div class="questlist__questcard">
        <p class="questlist__questcard-title">
          some interesting texttitle
        </p>
        <div class="questlist__questcard-info">
          <p class="questlist__questcard-time">hh:mm am, 10.24.22</p>
        </div>
      </div>
    </li>
    <li>
      <div class="questlist__questcard">
        <p class="questlist__questcard-title">
          some interesting texttitle
        </p>
        <div class="questlist__questcard-info">
          <p class="questlist__questcard-time">hh:mm am, 10.24.22</p>
        </div>
      </div>
    </li>
  </ul>
</section>