<section class="home">
  <h3 class="home__title ">Home page</h3>

  <a routerLink="/create-post">
    <img src="../../../assets/img/ikonka-plyus-10.png" alt="Add post" class="home__img">
  </a>

  <ul class="question-card">
    <li *ngFor="let post of posts">
      <div class="question-card__questcard">
        <h2 class="question-card__title">
          <a class='question-card__link' [routerLink]="['/post-page/', post.id]">
            {{post.title}}
          </a>
        </h2>
        <div class="question-card__info">
          <p class="question-card__time">{{post.date | date}}</p>
          <ul class="question-card__taglist">
            <li class="question-card__tag" *ngFor="let tag of post.tags">
              <small>
                {{tag}}
              </small>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</section>
